<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>ibm</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>cargosphere-mvn-hosted</id>
                    <url>http://nexus.cargosphere.us/repository/cargosphere-mvn-hosted/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central</id>
                    <url>http://nexus.cargosphere.us/repository/maven-central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>zkoss</id>
                    <url>http://nexus.cargosphere.us/repository/zkoss/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                  <id>jitpack-proxy</id>
                  <url>http://nexus.cargosphere.us/repository/jitpack-proxy/</url>
                  <releases>
                      <enabled>true</enabled>
                  </releases>
                  <snapshots>
                      <enabled>true</enabled>
                  </snapshots>
            		</repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://nexus.cargosphere.us/repository/maven-central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>gcp</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                 <repository>
                    <id>gcp-cargosphere-mvn-hosted</id>
                    <url>http://${nexus.gcp_addr}/repository/cargosphere-mvn-hosted/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>gcp-cargosphere-mvn-hosted-hephaestus</id>
                    <url>http://${nexus.gcp_addr}/repository/cargosphere-mvn-hosted-hephaestus/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>gcp-mvncentral</id>
                    <url>http://${nexus.gcp_addr}/repository/maven-central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>gcp-zkoss</id>
                    <url>http://${nexus.gcp_addr}/repository/zkoss</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
            			  <id>jitpack-proxy</id>
            		    <url>http://${nexus.gcp_addr}/repository/jitpack-proxy/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
            		</repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>gcp-central</id>
                    <url>http://${nexus.gcp_addr}/repository/maven-central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>${nexus.active_profile}</activeProfile>
    </activeProfiles>
</settings>
